{% extends 'Meetings/base.html' %}

{% block title %}TPHPA | Equipmet Reports{% endblock %}

{% block content %}
<!-- In your base.html -->


  <!-- Other body content -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>


  <h1>Equipment Reports</h1>
  <a href="{% url 'equipment_create' %}" class="btn btn-primary">Create New Report</a>
  <table class="table table-bordered" id="reporting_list">
    <thead>
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Location</th>
        <th>Condition</th>
        <th>Performance</th>
        <th>Next Maintenance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in equipment %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.condition }}</td>
        <td>{{ item.performance }}</td>
        <td>{{ item.preventive_maintenance }}</td>
        <td>
          <a href="{% url 'equipment_detail' item.pk %}" class="btn btn-info btn-sm">Details</a> |
          <a href="{% url 'equipment_update' item.pk %}" class="btn btn-warning btn-sm">Edit</a> |
          <a href="{% url 'equipment_delete' item.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <thead>
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Location</th>
        <th>Condition</th>
        <th>Performance</th>
        <th>Next Maintenance</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
  <script>
    $(function () {
      $("#reporting_list").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
{% endblock %}
